* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  max-width: 100vw;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}
